{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
  <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
  <h2 class="subtitle is-size-4-mobile is-size-3-desktop">{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
  </div>
  <h2 class="subtitle is-size-5-mobile is-size-4-desktop">Frequent Tags</h2>
  {{ range .Site.Taxonomies.tags.ByCount }}
    <a href="/tags/{{ .Name | urlize }}"> {{ .Name }} ({{ .Count }}) &nbsp;</a>
  {{end}}
</div>
{{ partial "jsshare" . }}
{{ partial "disqus" . }}
{{ partial "footer" . }}
